@import '/node_modules/bootstrap/scss/functions';
@import '/node_modules/bootstrap/scss/variables';
@import '/node_modules/bootstrap/scss/mixins';

@import '/fontawesome/css/fontawesome.min.css';
@import '/fontawesome/css/brands.min.css';
@import '/fontawesome/css/regular.min.css';
@import '/fontawesome/css/solid.min.css';
@import '/fontawesome/css/sharp-regular.min.css';

@import './cores/common.scss';
@import './cores/fonts.scss';

@import './blocks/header.scss';
@import './blocks/hero.scss';
@import './blocks/game.scss';
@import './blocks/web.scss';
@import './blocks/contact.scss';