@font-face {
  font-family: 'AemstelRegular';
  src:
    url('/fonts/AemstelRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AemstelLineOutside';
  src:
    url('/fonts/AemstelLineOutside.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AhoyAmigoRegular';
  src:
    url('/fonts/AhoyAmigoRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:
    url('/fonts/PoppinsRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NintendoDSBios';
  src:
    url('/fonts/NintendoDSBios.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}