.contact-section#contact
  .container
    .row.justify-content-center
      .col-lg-6.text-center
        .heading.heading-60.mb-3 LET'S CONNECT!
        .text.text-18.mb-5 If you would like to connect about an opportunity or looking to chat over coffee, get in touch using the links below!
        
        .social-links
          a.cloud-link.me-4(href='https://www.linkedin.com/in/hui-shan-yeo/' aria-label='LinkedIn')
            svg(width='129' height='77' viewbox='0 0 129 77' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M18.4338 76.0142C18.4338 76.0142 14.1968 74.946 12.5949 73.9278C2.97719 67.8149 -1.75739 57.8403 0.59695 45.9571C3.10774 33.2844 13.9708 25.986 24.2359 25.4678C27.0065 25.3279 29.804 25.7215 32.83 25.8831C34.9173 20.3171 38.5292 15.6293 44.4394 13.3183C50.1969 11.067 56.0291 11.4668 61.856 14.1144C64.3394 9.03735 68.0023 5.15267 73.0224 2.80085C81.2787 -1.06708 89.6895 -0.577127 96.0673 2.13528C100.888 4.18573 103.809 7.10642 106.312 10.1884C108.816 13.2704 111.034 18.2294 112.125 22.4365C113.731 28.6314 111.55 34.1595 111.55 34.1595C116.565 35.1242 120.598 37.8664 123.704 41.6383C131.221 50.7673 131.052 64.6268 120.908 72.5362C118.396 74.495 113.712 76.7747 111.582 76.7757C82.7026 76.7886 54.3231 76.8003 25.9436 76.7547C23.2639 76.7504 18.4338 76.0142 18.4338 76.0142Z' fill='#B6CCE4')
            i.fa-brands.fa-linkedin-in
          a.cloud-link.me-4(href='mailto:huishany1012@gmail.com' aria-label='Email')
            svg(width='129' height='77' viewbox='0 0 129 77' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M18.4338 76.0142C18.4338 76.0142 14.1968 74.946 12.5949 73.9278C2.97719 67.8149 -1.75739 57.8403 0.59695 45.9571C3.10774 33.2844 13.9708 25.986 24.2359 25.4678C27.0065 25.3279 29.804 25.7215 32.83 25.8831C34.9173 20.3171 38.5292 15.6293 44.4394 13.3183C50.1969 11.067 56.0291 11.4668 61.856 14.1144C64.3394 9.03735 68.0023 5.15267 73.0224 2.80085C81.2787 -1.06708 89.6895 -0.577127 96.0673 2.13528C100.888 4.18573 103.809 7.10642 106.312 10.1884C108.816 13.2704 111.034 18.2294 112.125 22.4365C113.731 28.6314 111.55 34.1595 111.55 34.1595C116.565 35.1242 120.598 37.8664 123.704 41.6383C131.221 50.7673 131.052 64.6268 120.908 72.5362C118.396 74.495 113.712 76.7747 111.582 76.7757C82.7026 76.7886 54.3231 76.8003 25.9436 76.7547C23.2639 76.7504 18.4338 76.0142 18.4338 76.0142Z' fill='#B6CCE4')
            i.fa-solid.fa-envelope
          a.cloud-link(href='https://www.instagram.com/confetti_arts?igsh=MWlnMThmMjU4ejhtNQ==' aria-label='Instagram')
            svg(width='129' height='77' viewbox='0 0 129 77' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M18.4338 76.0142C18.4338 76.0142 14.1968 74.946 12.5949 73.9278C2.97719 67.8149 -1.75739 57.8403 0.59695 45.9571C3.10774 33.2844 13.9708 25.986 24.2359 25.4678C27.0065 25.3279 29.804 25.7215 32.83 25.8831C34.9173 20.3171 38.5292 15.6293 44.4394 13.3183C50.1969 11.067 56.0291 11.4668 61.856 14.1144C64.3394 9.03735 68.0023 5.15267 73.0224 2.80085C81.2787 -1.06708 89.6895 -0.577127 96.0673 2.13528C100.888 4.18573 103.809 7.10642 106.312 10.1884C108.816 13.2704 111.034 18.2294 112.125 22.4365C113.731 28.6314 111.55 34.1595 111.55 34.1595C116.565 35.1242 120.598 37.8664 123.704 41.6383C131.221 50.7673 131.052 64.6268 120.908 72.5362C118.396 74.495 113.712 76.7747 111.582 76.7757C82.7026 76.7886 54.3231 76.8003 25.9436 76.7547C23.2639 76.7504 18.4338 76.0142 18.4338 76.0142Z' fill='#B6CCE4')
            i.fa-brands.fa-instagram

  .footer-bottom 
    .character.tomato
      img.img-fluid(src="/images/tomato.png" alt="Tomato")

    .character.sushi
      img.img-fluid(src="/images/sushi.png" alt="Sushi")

    .cloud-bottom
      img.img-fluid(src="/images/footer-clouds.png" alt="Footer Cloud")

    .copyright © Yeo Hui Shan