header.nav.navbar.main-nav
  .container
    ul.navbar-nav.flex-row.mx-auto
      li.nav-item.mx-3
        a.nav-link(href="#work") WORK
      li.nav-item.mx-3
        a.nav-link(href="#about") ABOUT
      li.nav-item.mx-3
        a.nav-link(href="#contact") CONTACT