.hero
  .container
    .row.justify-content-center
      .col-lg-8.text-center
        .heading.heading-60.mb-3 Hi! I'm Hui Shan.
        .text.text-20 I'm a front-end developer, game designer and programmer.
        
        .hero-img
          img.img-fluid(src="/images/tomato.png" alt="Tomato Character")

  .scroll-indicator
    img.img-fluid(src="/images/curly-arrow-1.png" alt="Curly Arrow 1")