.web-section
  .scrolling-ribbon(data-scrolling-ribbon)
    .ribbon-content
      span WEB
  .container-fluid    
    .row.justify-content-center.g-4.mb-5
      .col-lg-7.col-xl-8
        .project-card
          img.img-fluid(src="/images/tna.png" alt="TNA")
          .content
            .heading.heading-40.mb-3 TOPPAN NEXT ADVERTISING
            .text.text-18.mb-3 Developed a responsive, interactive front-end for Toppan Next Advertising, implementing custom animations, layout optimizations, and cross-device compatibility to showcase their integrated brand and experiential marketing solutions.
            a.btn.view-btn(href="https://www.toppannextadvertising.com/" target="_blank" rel="noopener noreferrer") View Website

        .project-card
          img.img-fluid(src="/images/tdl.png" alt="TDL")
          .content
            .heading.heading-40.mb-3 TOPPAN DIGITAL LANGUAGE
            .text.text-18.mb-3 Built and optimized the website for Toppan Digital Language, focusing on precise layout, accessibility, and responsive design, while integrating dynamic content to highlight global language and localization services.
            a.btn.view-btn(href="https://toppandigital.com/" target="_blank" rel="noopener noreferrer") View Website

        .project-card
          img.img-fluid(src="/images/personality-quiz.png" alt="SIT Personality Quiz")
          .content
            .heading.heading-40.mb-3 SIT PERSONALITY QUIZ
            .text.text-18.mb-3 Developed an interactive personality quiz that assesses user interests and suggests matching academic programmes, featuring dynamic question progression, real‑time result logic, and responsive design for all devices.
            a.btn.view-btn(href="https://www.singaporetech.edu.sg/personality-quiz/" target="_blank" rel="noopener noreferrer") View Website

        .project-card
          img.img-fluid(src="/images/hei.png" alt="Website mockup")
          .content
            .heading.heading-40.mb-3 HEI WORLDWIDE
            .text.text-18.mb-3 Implemented the Hei website in Webflow, creating a modern, responsive layout with interactive animations, smooth transitions, and a user-friendly CMS structure to showcase brand strategy and global engagement services.
            a.btn.view-btn(href="https://www.heiworldwide.com/" target="_blank" rel="noopener noreferrer") View Website