.web-section
  .scrolling-ribbon(data-scrolling-ribbon)
    .ribbon-content
      span WEB
  .container-fluid    
    .row.justify-content-center.g-4.mb-5
      .col-lg-7.col-xl-8
        .project-card
          img.img-fluid(src="/images/tna.png" alt="TNA")
          .content
            .heading.heading-40.mb-3 TOPPAN NEXT ADVERTISING
            .tags-row.d-flex.flex-wrap.align-items-center.gap-2.mt-3
              .tags.d-flex.flex-wrap.gap-2
                span.badge.rounded-pill.text-bg-dark HTML
                span.badge.rounded-pill.text-bg-dark SCSS
                span.badge.rounded-pill.text-bg-dark JavaScript
                span.badge.rounded-pill.text-bg-dark WordPress CMS

              a.btn.view-btn.ms-md-auto(href="https://www.toppannextadvertising.com/" target="_blank" rel="noopener noreferrer") View Website

        .project-card
          img.img-fluid(src="/images/tdl.png" alt="TDL")
          .content
            .heading.heading-40.mb-3 TOPPAN DIGITAL LANGUAGE
            .tags-row.d-flex.flex-wrap.align-items-center.gap-2.mt-3
              .tags.d-flex.flex-wrap.gap-2
                span.badge.rounded-pill.text-bg-dark HTML
                span.badge.rounded-pill.text-bg-dark SCSS
                span.badge.rounded-pill.text-bg-dark JavaScript
                span.badge.rounded-pill.text-bg-dark WordPress CMS

              a.btn.view-btn.ms-md-auto(href="https://toppandigital.com/" target="_blank" rel="noopener noreferrer") View Website

        .project-card
          img.img-fluid(src="/images/personality-quiz.png" alt="SIT Personality Quiz")
          .content
            .heading.heading-40.mb-3 SIT PERSONALITY QUIZ
            .tags-row.d-flex.flex-wrap.align-items-center.gap-2.mt-3
              .tags.d-flex.flex-wrap.gap-2
                span.badge.rounded-pill.text-bg-dark HTML
                span.badge.rounded-pill.text-bg-dark SCSS
                span.badge.rounded-pill.text-bg-dark JavaScript
                span.badge.rounded-pill.text-bg-dark Drupal CMS

              a.btn.view-btn.ms-md-auto(href="https://www.singaporetech.edu.sg/personality-quiz/" target="_blank" rel="noopener noreferrer") View Website

        .project-card
          img.img-fluid(src="/images/hei.png" alt="Hei Website")
          .content
            .heading.heading-40.mb-3 HEI WORLDWIDE
            .tags-row.d-flex.flex-wrap.align-items-center.gap-2.mt-3
              .tags.d-flex.flex-wrap.gap-2
                span.badge.rounded-pill.text-bg-dark Webflow
                span.badge.rounded-pill.text-bg-dark CSS

              a.btn.view-btn.ms-md-auto(href="https://www.heiworldwide.com/" target="_blank" rel="noopener noreferrer") View Website

        .project-card
          img.img-fluid(src="/images/tlf.png" alt="TLF")
          .content
            .heading.heading-40.mb-3 TOPPAN LEEFUNG
            .tags-row.d-flex.flex-wrap.align-items-center.gap-2.mt-3
              .tags.d-flex.flex-wrap.gap-2
                span.badge.rounded-pill.text-bg-dark React
                span.badge.rounded-pill.text-bg-dark SCSS
                span.badge.rounded-pill.text-bg-dark JavaScript

              a.btn.view-btn.ms-md-auto(href="https://toppanleefung.com/" target="_blank" rel="noopener noreferrer") View Website